@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: white;
    color: rgb(23, 23, 23);
    font-family: system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  button {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
}
